#!/usr/bin/make -f
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk
include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/class/makefile.mk

# Add here any variable or target overrides you need.
DEB_CONFIGURE_EXTRA_FLAGS = \
  --prefix=/usr \
  --localstatedir=/var \
  --sysconfdir=/etc \
  --with-export-dir=/var/lib/ganeti/export \
  --with-os-search-path=/srv/ganeti/os,/usr/local/lib/ganeti/os,/usr/lib/ganeti/os
DEB_DH_INSTALLINIT_ARGS = --no-start

clean::
	rm -f debian/ganeti.init
	rm -f debian/ganeti.cron
	rm -f config.log

build/ganeti::
	cp doc/examples/ganeti.cron debian/ganeti.cron
	cp doc/examples/ganeti.initd debian/ganeti.init

binary-post-install/ganeti::
	find debian/$(cdbs_curpkg) -name '*.py[co]' -print0 | xargs -0 rm -f --

